h1 {
    color: blue;
    text-align: center;
}
div {
    background-color: red;
    font-family: cursive, fantasy,serif,monospace;
    width: 40%;
    height: auto;
    margin: 20px;
    padding: 30px;
}
table{
border: solid black;
border-collapse: collapse;
width: 50%;
text-align: center;
}

th,td{
    border: solid blue;
    border-collapse: collapse ;
}
th{
background-color: lightgray;
color: blue;
}
form{
    margin: 10px;
}